/* google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* tailwindcss doc */
@import "tailwindcss";

@theme {
     --container: 1140px;
}

body {
     font-family: "Roboto", sans-serif;
}